<footer class="site-footer">
  <div class="footer-col  footer-col-3">
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" ><img src="{{ "/assets/twitterLogo_white.png" | prepend: site.baseurl }}" class="twitter"></a>
    <a href="https://facebook.com/{{ site.twitter_username }}" target="_blank" ><img src="{{ "/assets/FB-f-Logo__white_29.png" | prepend: site.baseurl }}" class="twitter"></a>
    <a href="https://instagram.com/{{ site.twitter_username }}" target="_blank" ><img src="{{ "/assets/glyph-logo_May2016_200.png" | prepend: site.baseurl }}" class="twitter"></a>
    <p id="footertext">{{ site.description }}</p>
  </div>
</footer>
